<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <img src="../assets/logo.jpg"routerLink="/RoadNetworkInventory" alt="logo" width="150" height="70" style="opacity: 1;
  ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<div class=" d-flex justify-content-center flex-column align-items-center justify-content-center" style="width: 100%">
  <div style="width: 800px;color: aliceblue;" ><h3>Web-Based Pavement Management system</h3></div>
    <ul class="navbar-nav mr-auto " style="width: 450px;">

    </ul>
  </div>
</div>
</nav>

<div style="padding: 30px">
  <router-outlet></router-outlet>
</div>
