<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <img src="../assets/logo.jpg" routerLink="/RoadNetworkInventory" alt="logo"  height="70" style="opacity: 1;
  ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class=" d-flex justify-content-center flex-column align-items-center justify-content-center"
      style="padding-left: 50px; ">


      <nav *ngIf="expression" style="margin-right: 215px;">
        <div class="collapse navbar-collapse" id="navbarNav">
          <h3 style="color: aliceblue;">Web-Based Pavement Management system</h3>
     
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <button type="submit" class="btn btn-primary" [routerLinkActive]="['active']">Pavement Inventory</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="lcca">
                <button type="submit" class="btn btn-primary" [routerLinkActive]="['active']">LCCA</button></a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link" routerLink="manage"><button type="submit" [routerLinkActive]="['active']"
                  class="btn btn-primary">Manage User</button></a>
            </li>
            <li>    <div *ngIf="expression">
              <h6 style="color:white;padding: 5px;">Hello, &Tab;{{user}}</h6>
            </div></li>
            <li *ngIf="expression" class="nav-item">
              <a class="nav-link"><button type="submit" class="btn btn-primary" [routerLinkActive]="['active']"
                  (click)="logout()">Logout</button></a>
            </li>

          </ul>
        </div>
      </nav>
    </div>

  </div>
</nav>

<div style="padding: 30px">
  <router-outlet></router-outlet>
</div>