<div class="container card">
  <div>

    <form #f="ngForm" class="row  ">
      <div class="col-md-6">
        <label for="username" class="form-label">User Name</label>
        <!-- <input type="text"   class="form-control"  ngModel name="user"  #id="ngModel" required> -->
        <input type="text" class="form-control" disabled="true" ngModel name="username" [(ngModel)]="user.username"
          required>
      </div>
      <div class="col-md-6">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" ngModel name="first_name" [(ngModel)]="user.first_name" required>
      </div>
      <div class="col-md-6">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" ngModel name="last_name" [(ngModel)]="user.last_name" required>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" ngModel [(ngModel)]="user.password" required>
      </div>
      <div class="col-md-6">
        <label for="password2" class="form-label">Re Password</label>
        <input type="password" class="form-control" name="password2" ngModel [(ngModel)]="user.password2" required>
      </div>
      <div class="col-md-6">
        <label for="constructionYear" class="form-label">role</label>
        <select class="form-control" name="role" id="role" [(ngModel)]="user.role" required>
          <option selected value="">Choose...</option>
          <option value="Data_collecter">Data_collecter</option>
          <option value="Admin">Admin</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="sex" class="form-label">sex</label>
        <input type="text" class="form-control" ngModel name="sex" [(ngModel)]="user.sex" required>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">phone</label>
        <input type="number" class="form-control" ngModel name="phone" [(ngModel)]="user.phone" required>
      </div>
    </form>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"
        [disabled]="f.form.invalid || f.form.value.password != f.form.value.password2"
        (click)="update(f)">Update</button>
    </div>
  </div>
</div>